<mat-card>
  <mat-card-title>
    Rechercher une musique
  </mat-card-title>
  <div class="search-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Insérer recherche</mat-label>
      <input matInput type="search" placeholder="Ex. Led Zeppelin" [(ngModel)]="search" (keyup)="inputChange()">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>par</mat-label>
      <mat-select [value]="selectedValue">
       <mat-option (onSelectionChange)="optionChange(item.id, $event)"  *ngFor="let item of selected" [value]="item.id">{{item.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
